Django~=4.2
skip-django-germanium @ git+https://github.com/skip-pay/germanium@tda/chore/django_bump
flake8==5.0.4
coveralls==3.3.1
django-reversion==4.0.2
responses==0.22.0
celery==5.2.7
freezegun==0.3.12
elasticsearch-dsl==7.4.0
skip-django-pyston @ git+https://github.com/skip-pay/django-pyston@tda/chore/django_bump
-e ../
